[user]
	name = moscowmule2240
	email = moscowmule2240@outlook.jp
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/bin/vim
	quotepath = false
	precomposeunicode = true
[push]
	default = current
[pack]
	threads = 2

