[user]
	name = moscowmule2240
	email = moscowmule2240@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHZvvXThF+zQxwfw2dgB4TX7QDWRUTE+GQ4i/AvQ5kcq moscowmule2240@users.noreply.github.com
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
	quotepath = false
	precomposeunicode = true
	autocrlf = input
	symlinks = true
[push]
	default = current
[pack]
	threads = 2
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[merge]
	renameLimit = 999999
[diff]
	indentHeuristic = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	defaultKeyCommand = ssh-add -La
[includeIf "gitdir/i:C:/"]
    path = ~/.gitconfig-windows
[includeIf "gitdir/i:/Users/"]
    path = ~/.gitconfig-macos
